#boot{
    color: darkorchid;
}

#html{
    color: rgb(255, 68, 0);
}

#css{
    color: dodgerblue;
}

#angular{
    color: crimson;
}

#react{
    color: rgb(17, 255, 176);
}

#vue{
    color: forestgreen;
}