<div class="row section featured topspace fix">
    <h2 class="section-title"><span>¿Qué hago yo?</span></h2>
    <div class="row">
        <div class="">
            <br>
            <h4 class="text-center">Desarrollo diseños webs con <span id="boot">Bootstrap</span>, 
                <span id="html">HTML</span>, <span id="css">CSS</span> <br>y las hago dinamicas 
                con <span id="angular">Angular</span>, <span id="react">React</span> o 
                <span id="vue">Vue</span></h4>
            <p class="text-center">Trato de mejorar cada día para dar lo mejor de mi mismo
                para todos mis proyectos tanto presentes como futuros.<br> Bajo esta filosofia,
            aprendo mediante los documentos sobre los frameworks</p>
        </div>
    </div>
</div>