<header id="header">
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="assets/images/guy.jpg" alt="">
			<span class="title">Philipe Lacourt</span>
			<span class="tagline">Un desarrollador web con conocimientos en <br> JS y PHP<br>
				<a href="mailto:philipe@philipelacourt.xyz">philipe@philipelacourt.xyz</a></span>
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky">
		<div>
			
			<div class="navbar-collapse ">
				
				<ul class="nav navbar-nav">
					<li><a routerLink="">Inicio</a></li>
					<li><a routerLink="page/acerca-de">Acerca de mí</a></li>
					<li><a routerLink="page/">Trabajos</a></li>
				</ul>
			</div><!--/.nav-collapse -->			
		</div>	
	</nav>
</header>
