<div class="row topspace fix">
    <div class="col-sm-8 col-sm-offset-2">
                                                    
         <article class="post">
            <header class="entry-header">
                 <h1 class="entry-title"><a href="" rel="bookmark">Stream Plus</a></h1>
            </header> 
            <div class="entry-content"> 
                <p><img alt="" src="assets/images/mac.jpg"></p>
                <p>
                    Creada mediante una plantilla e implementando routing básico de Angular,
                    mi portafolio es la pagina principal donde se pueden apreciar todos 
                    mis proyectos tanto actuales como futuros.
                </p>
                <p>
                    Es un gran logro para mí el hacer esta personalización de la plantilla
                    con su respectiva modificación utilizando Angular. La plantilla utilizada es
                    de Initio, de la pagina GetTemplate.com.
                </p>

                <p>
                    La razón por la cual utilizo esta
                    plantilla por sobre otras que pueda encontrar es su simpleza y elegancia.
                    El texto es adecuado para una pagina elegante pero a su vez moderna que evoca
                    sentimientos de buenos modales, sociabilidad y madurez.
                </p>

                <p>
                    Decidí ocupar Angular para el routing de la pagina porque es el framework de
                    Javascript que actualmente estoy aprendiendo más a profundidad.
                </p>

                <blockquote>
                    También estoy aprendiendo Vue, React y Svelte, a su vez de expermientar
                    con PHP y NodeJS para la parte de Backend.
                </blockquote>

                <h3>
                    ¿Por qué estoy haciendo este portafolio?
                </h3>

                <p>
                    Cuando se menciona que en el rubro de la informatica se debe tener un portafolio,
                    los que mencionan el dato no estaban equivocados.
                </p>

                <p>
                    Siempre traté de conseguir
                    trabajo sin portafolio, enviando curriculums a diferentes empresas, sin éxito alguno.
                    Ahora que creé este portafolio y empezando con la creación de proyectos personales,
                    espero que la dificultad para conseguir trabajo sea menor a la de no tener portafolio.
                </p>

                <h3>
                    ¿Qué se espera para el futuro?
                </h3>

                <p>
                    Solo espero del futuro que logre hacer buenos proyectos mediante todos los conocimientos
                    útiles que he ido aprendiendo.
                </p>
            
            </div> 
        </article><!-- #post-## -->

    </div> 
</div>